<h3>All Bugs</h3>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
        </tr>
    </thead>
    @foreach (var b in Bugs)
    {
        <tr>
            <td>
                @b.Id
            </td>
            <td>
                @b.Title
            </td>
            <td>
                @b.Description
            </td>
            <td>
                @b.Priority
            </td>
        </tr>
    }
</table>

@code {

    [Inject]
    public IBugService BugService { get; set; }

    public List<Bug> Bugs { get; set; }

    protected override void OnInitialized()
    {
        Bugs = BugService.GetBugs().OrderBy(b => b.Priority).ToList();
    }
}
